* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none; 
    text-decoration: none; 
}  

:root{
    --cor_cabecalho: #f9d423; 
    --cor_menu_lateral: #e7c30f; 
    --cor_hr: #e7c30f; 
}
.cabecalho{ 
    height: 100px; 
    background-color: var(--cor_cabecalho); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.cabecalho_detalhes{ 
    display: flex; 
    align-items: center;
    margin-left: 7px; 
}
.nome_do_site{
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
    font-size: 29px; 
    margin-top: 5px; 
    margin-left: 7px;
} 

.textos_do_corpo{
    margin-left: 20px; 
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin-top: 14px; 
    font-size: 18px;
} 
.textos_do_corpo2{
    margin-left: 20px; 
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin-top: 40px; 
    font-size: 20px;
} 
